body{
    background-color: #38e33b;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1{
    font-size: xx-large;
}

.emg{
    text-align: center;
    font-size: 100px;
}
p{
    font-size: 20px;
    text-align: center;
}